{% extends 'base.html' %}

{% block start %}
    <h1>This Template is returned by Django Server</h1>

    <a href="{% url 'about' %}">About</a>

    <a href="{% url 'contact' %}">Contact</a>

    <table>
        <tr>
            <th>S. No</th>
            <th>Name</th>
            <th>Age</th>
            <th>Can Vote</th>
        </tr>
        {% for person in peoples %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ person.name }}</td>
            <td>{{ person.age }}</td>
            <td style="background: {% if person.age < 18 %}red{% else %}green{% endif %};">
                {% if person.age < 18 %}
                    No 👎
                {% else %}
                    Yes 👍
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

    <br>

    <p>
        {% if "cucumber" in vegetables %}
            Cucumber is in the list of vegetables. (Yes Available)
        {% else %}
            Cucumber is not in the list of vegetables. (No Not Available)
        {% endif %}
    </p>
{% endblock %}